<%- include('./partials/header.ejs') %>
<head>
<link rel="stylesheet" href="/stylesheets/portfolio.css">
</head>
  <body>

      <div class="main">
        <div class="title">
          <div class="typed-title">
              <div id="typed-strings">
                <p><span style="font-size: 45px;"> Leader, Designer, Learner.</span></p>
                <p><span style="font-size: 45px;"> Leader, Designer, ^1000Coder.</span></p>
                <p><span style="font-size: 45px;"> Leader, Designer, ^1000 <span style="font-size: 45px; color: #04f2ff">Software Engineer</span>.</span></p>
            </div>
            <span id="typed"></span>
          </div>
        </div>
        <div class="headshot"></div>
        <div class="bio">
          <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="color-span">Totam quo</span> inventore distinctio natus, blanditiis recusandae <span class="color-span">porro minus</span> quisquam rem expedita voluptas? Quidem, unde? Nesciunt sequi numquam quas dolorum cumque exercitationem. Lorem ipsum dolor sit amet <span class="color-span">consectetur adipisicing</span> elit. Voluptas vel fugiat ea hic ut tempora ab quaerat temporibus laboriosam <span class="color-span">dolor esse atque</span> dolore provident facilis, officia aperiam <span class="color-span">possimus</span> consectetur placeat!</p>
          </div>
        </div>
        <!-- <div class="description">
          <div style="height: 50%">
            <img src="https://i.imgur.com/yRmibPZ.jpg" id="hero-img" />
          </div>
          <div id="hero-description">
            <h1 >Who Is This fella'?</h1><hr style="width: 25vw; margin-left: 1.5vw; height: 5px; border-color: #00adb5;"> 
            <div style="margin-top: 8vh; position: absolute; left: 50px;">
                <div id="typed-strings" style="font-size: 100px; text-align: left;"> 
                  <p>
                    <span style="font-size: 5vh;">Hello there! My Name is</span>
                    <span style="color: #04f2ff; font-size: 5vh;">Tyler Villa</span><span style="font-size: 5vh;"><br>
                      and i'm a <span style="color: #04f2ff; font-size: 5vh;">Software Engineer<span style="font-size: 5vh;color: white">.  </span></span>
                      
                    </span>
        
                </div>
                <span id="typed"></span>
              </div>
          </div>
        </div>
            <div id="skills" style="text-align: center;">
              <h1 style="color: #04f2ff"> Proficient in: </h1><hr style="width: 40vw;margin-left: 5vw; border: .5px solid #00adb5;">
              <div id="skills-container">
                <div class="skill" id="python">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" alt="Python Logo" class="Skills-logos">
                  <h3 >Python 3</h3>
                </div>
                <div class="skill" id="javascript">
                  <img src="https://www.geekstrick.com/wp-content/themes/geekstrick/assets/icons/javascript.svg" alt="Javascript Logo" class="Skills-logos">
                  <h3 >Javascript</h3>
                </div>
                <div class="skill" id="nodejs">
                  <img src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="Express Logo" class="Skills-logos"  style="margin-left: 2.5vh">
                  <h3>Express/<br>Node JS</h3>
                </div>
                <div class="skill" id="react">
                  <img src="http://maxehnert.com/app/images/react.svg" alt="React Logo" class="Skills-logos" style="margin-left: .5vh">
                  <h3>React</h3>
                </div>
              </div>
              <div id="skills-container2" >

                <div class="skill" id="django" style="margin: 0 15px 0 15px">
                    <img src="https://gitlab.com/uploads/-/system/project/avatar/3692106/django.png" alt="Django Logo" class="Skills-logos">
                    <h3>Django</h3>
                </div>

                <div class="skill" id="mongodb" style="margin: 0 15px 0 15px">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/mongodb-4-1175139.png" alt="MongoDB Logo" class="Skills-logos" >
                    <h3>MongoDB</h3>
                </div>
                <div class="skill" id="postgres" style="margin: 0 15px 0 15px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="PostegreSQL Logo" class="Skills-logos">
                    <h3 id="postgres-text">PostgreSQL</h3>
                </div>
              </div>
              <a href="/portfolio/"><button id="to-portfolio">View Projects<i
                class="fa fa-arrow-right"
                aria-hidden="true"
                style="margin-left: 10px; color: #00fff5"
              ></i></button></a>
            </div> -->
          </div>





      <div class="main-2">
        <div class="prj-header"></div>
        <h3 style="color: #04f2ff">SOME OF MY LASTEST WORK</h3>
        <div class="container-portfolio-home">
            <% projects.map(p => { %>
            <div class="box" id="<%= p.id %>">
              <div id="skills-top-border"></div>
              <div id="skills-right-border"></div>
              <div id="skills-left-border"></div>
              <div id="skills-bottom-border"></div>
              <div class="content">
                <h2><img class="home-project-cover" src="<%= p.imgUrl %>" /></h2>
                <h1 id="<%= p.id %>"><%= p.name %></h1>
                <hr />
                <p>
                  <%= p.description %>
                </p>
                <ul class="tech-list">
                  <% p.technology.forEach(t => { %>
                  <li class="tech-list-item">
                    <img class="tech-img" id="t.id" src="<%= t.techImgUrl%>" /><%=
                    t.name %>
                  </li>
                  <% }) %>
                </ul>
                <div class="icons">
                  <a href=""><i class="fa fa-github w3-xxlarge icon-white"></i></a>
                  <a href=""><i class="fa fa-external-link w3-xxlarge"></i></a>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
      </div>
      <%- include('./partials/footer.ejs') %>

    <script type="text/javascript">
      var typed = new Typed("#typed", {
        stringsElement: "#typed-strings",
        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 1000,
        startDelay: 100,
        showCursor: true,
        // cursorChar: '$',
        autoInsertCss: true,
        fadeOut: false,
        fadeOutClass: 'typed-fade-out',
        fadeOutDelay: 500,
      });

      
    </script>
  </body>
</html>
